
	body{
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/de/Chart_rosyjski_borzoj_rybnik-kamien_pl.jpg');
	 background-attachment: fixed;
	 background-size: cover;
	}
	h2{
	color:white;
	font-family: 'Roboto Mono', monospace;}
	p{
	color:white;
	font-family:courier;}
	

a:visited {
  color: powderblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
